<% doc_presenter = show_presenter(document) %>


<%# default partial to display solr document fields in catalog show view -%>
<div class="row">
  <div class="col-12">
    <dl class="row dl-invert document-metadata">
      <% doc_presenter.fields_to_render.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> col-md-3"><%= render_document_show_field_label document, field: field_name %></dt>
        <dd class="align-self-center blacklight-<%= field_name.parameterize %> col-md-9"><%= doc_presenter.field_value field %></dd>
      <% end -%>
    </dl>
  </div>
  <div class="col-12">
    <dl class="row dl-invert document-metadata">
      <dt class="align-self-center col-md-3"><%= staff_view_link(document.id) %></dt>
    </dl>
  </div>
</div>
